In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import plotly.graph_objects as go

In [2]:
def get_returns(prices):
    return prices[-1]/prices[0]-1

In [13]:
df_drl = pd.read_excel("./trading_records/dax_trading_records.xlsx")
df_etf = yf.Ticker("EXS1.DE").history(start="2018-11-01", end="2021-11-01")

In [14]:
df_drl = df_drl.set_index(["date"])

In [23]:
df_drl.groupby(["ticker", df_drl.index.year]).asset.apply(len)

ticker   date
ADS.DE   2019    235
         2020    254
         2021    212
ALV.DE   2018     39
         2019    251
                ...
SIE.DE   2021    212
VOW3.DE  2018     39
         2019    251
         2020    254
         2021    212
Name: asset, Length: 103, dtype: int64

In [28]:
temp1 = \
df_drl.groupby(["ticker", df_drl.index.year]).apply(lambda x: pd.Series({
    "count": x.asset.count(),
    "first": x.asset[0],
    "last": x.asset[-1],
}
))

In [41]:
temp1

              count         first          last
ticker  date
ADS.DE  2019  235.0  9.909593e+05  9.825726e+05
        2020  254.0  9.831635e+05  1.236142e+06
        2021  212.0  1.246988e+06  9.734533e+05
ALV.DE  2018   39.0  1.000000e+06  1.009855e+06
        2019  251.0  1.009855e+06  1.004951e+06
...             ...           ...           ...
SIE.DE  2021  212.0  7.925926e+05  7.747532e+05
VOW3.DE 2018   39.0  1.000000e+06  9.164716e+05
        2019  251.0  9.164716e+05  1.057017e+06
        2020  254.0  1.067079e+06  9.029531e+05
        2021  212.0  8.987133e+05  1.169791e+06

[103 rows x 3 columns]

In [47]:
trading_days = {2018: 39, 2019: 251, 2020: 254, 2021: 212}

In [48]:
temp1["days"] = [trading_days[y] for y in temp1.index.get_level_values(1)]

In [49]:
temp1

              count         first          last  days
ticker  date
ADS.DE  2019  235.0  9.909593e+05  9.825726e+05   251
        2020  254.0  9.831635e+05  1.236142e+06   254
        2021  212.0  1.246988e+06  9.734533e+05   212
ALV.DE  2018   39.0  1.000000e+06  1.009855e+06    39
        2019  251.0  1.009855e+06  1.004951e+06   251
...             ...           ...           ...   ...
SIE.DE  2021  212.0  7.925926e+05  7.747532e+05   212
VOW3.DE 2018   39.0  1.000000e+06  9.164716e+05    39
        2019  251.0  9.164716e+05  1.057017e+06   251
        2020  254.0  1.067079e+06  9.029531e+05   254
        2021  212.0  8.987133e+05  1.169791e+06   212

[103 rows x 4 columns]

In [52]:
temp1["factor"] = temp1["days"].div(temp1["count"])

In [53]:
temp1

              count         first          last  days    factor
ticker  date
ADS.DE  2019  235.0  9.909593e+05  9.825726e+05   251  1.068085
        2020  254.0  9.831635e+05  1.236142e+06   254  1.000000
        2021  212.0  1.246988e+06  9.734533e+05   212  1.000000
ALV.DE  2018   39.0  1.000000e+06  1.009855e+06    39  1.000000
        2019  251.0  1.009855e+06  1.004951e+06   251  1.000000
...             ...           ...           ...   ...       ...
SIE.DE  2021  212.0  7.925926e+05  7.747532e+05   212  1.000000
VOW3.DE 2018   39.0  1.000000e+06  9.164716e+05    39  1.000000
        2019  251.0  9.164716e+05  1.057017e+06   251  1.000000
        2020  254.0  1.067079e+06  9.029531e+05   254  1.000000
        2021  212.0  8.987133e+05  1.169791e+06   212  1.000000

[103 rows x 5 columns]

In [60]:
((9.825726e+05/9.909593e+05)**(1/235))**251

0.9909631790642484

In [55]:
(temp1["last"].div(temp1["first"]))

ticker   date
ADS.DE   2019    0.991537
         2020    1.257310
         2021    0.780643
ALV.DE   2018    1.009855
         2019    0.995144
                   ...
SIE.DE   2021    0.977492
VOW3.DE  2018    0.916472
         2019    1.153355
         2020    0.846191
         2021    1.301629
Length: 103, dtype: float64

In [62]:
temp1["revised_return"] = (temp1["last"].div(temp1["first"]))**temp1["factor"]

In [63]:
temp1

              count         first          last  days    factor  \
ticker  date
ADS.DE  2019  235.0  9.909593e+05  9.825726e+05   251  1.068085
        2020  254.0  9.831635e+05  1.236142e+06   254  1.000000
        2021  212.0  1.246988e+06  9.734533e+05   212  1.000000
ALV.DE  2018   39.0  1.000000e+06  1.009855e+06    39  1.000000
        2019  251.0  1.009855e+06  1.004951e+06   251  1.000000
...             ...           ...           ...   ...       ...
SIE.DE  2021  212.0  7.925926e+05  7.747532e+05   212  1.000000
VOW3.DE 2018   39.0  1.000000e+06  9.164716e+05    39  1.000000
        2019  251.0  9.164716e+05  1.057017e+06   251  1.000000
        2020  254.0  1.067079e+06  9.029531e+05   254  1.000000
        2021  212.0  8.987133e+05  1.169791e+06   212  1.000000

              revised_return
ticker  date
ADS.DE  2019        0.990963
        2020        1.257310
        2021        0.780643
ALV.DE  2018        1.009855
        2019        0.995144
...                      ...
SIE.DE  2021        0.977492
VOW3.DE 2018        0.916472
        2019        1.153355
        2020        0.846191
        2021        1.301629

[103 rows x 6 columns]

In [64]:
temp1["revised_first"] = temp1["last"].div(temp1["revised_return"])

In [65]:
temp1

              count         first          last  days    factor  \
ticker  date
ADS.DE  2019  235.0  9.909593e+05  9.825726e+05   251  1.068085
        2020  254.0  9.831635e+05  1.236142e+06   254  1.000000
        2021  212.0  1.246988e+06  9.734533e+05   212  1.000000
ALV.DE  2018   39.0  1.000000e+06  1.009855e+06    39  1.000000
        2019  251.0  1.009855e+06  1.004951e+06   251  1.000000
...             ...           ...           ...   ...       ...
SIE.DE  2021  212.0  7.925926e+05  7.747532e+05   212  1.000000
VOW3.DE 2018   39.0  1.000000e+06  9.164716e+05    39  1.000000
        2019  251.0  9.164716e+05  1.057017e+06   251  1.000000
        2020  254.0  1.067079e+06  9.029531e+05   254  1.000000
        2021  212.0  8.987133e+05  1.169791e+06   212  1.000000

              revised_return  revised_first
ticker  date
ADS.DE  2019        0.990963   9.915329e+05
        2020        1.257310   9.831635e+05
        2021        0.780643   1.246988e+06
ALV.DE  2018        1.009855   1.000000e+06
        2019        0.995144   1.009855e+06
...                      ...            ...
SIE.DE  2021        0.977492   7.925926e+05
VOW3.DE 2018        0.916472   1.000000e+06
        2019        1.153355   9.164716e+05
        2020        0.846191   1.067079e+06
        2021        1.301629   8.987133e+05

[103 rows x 7 columns]

In [71]:
temp2 = temp1.groupby(level=["date"])['revised_first', 'last'].apply(np.sum)

/var/folders/_d/wg58dnq97vb6sg72nkscnm4c0000gn/T/ipykernel_85925/2462416079.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp2 = temp1.groupby(level=["date"])['revised_first', 'last'].apply(np.sum)

In [72]:
temp2

      revised_first          last
date
2018   2.500000e+07  2.415420e+07
2019   2.515256e+07  2.574258e+07
2020   2.586897e+07  2.093085e+07
2021   2.114250e+07  2.095238e+07

In [75]:
yearly_return = temp2["last"].div(temp2["revised_first"])-1

In [76]:
yearly_return

date
2018   -0.033832
2019    0.023457
2020   -0.190890
2021   -0.008992
dtype: float64

In [ ]:
df_sum = pd.DataFrame(df_drl.groupby(["date"]).asset.apply(np.sum))

In [ ]:
yearly_return_drl = df_sum.groupby([df_sum.index.year]).asset.apply(get_returns)
yearly_return_etf = df_etf.groupby([df_etf.index.year]).Close.apply(get_returns)

In [ ]:
# define histogram colors
colors_macd = np.where(yearly_return_drl.values > 0, '#06d6a0', '#ef476f')
colors_etf = np.where(yearly_return_etf.values > 0, '#0a9396', '#e63946')

# add histogram on the lower subplot
fig = go.Figure()
fig.add_trace(
    go.Bar(
        x=yearly_return_drl.index,
        y=yearly_return_drl.values * 100,
        name="DRL",
        marker_color=colors_macd,
        text=yearly_return_drl.values * 100,
        texttemplate='%{text:.2f}',
        textposition='outside'

    ),
)
fig.add_trace(
    go.Bar(
        x=yearly_return_etf.index,
        y=yearly_return_etf.values * 100,
        name='ETF',
        marker_color=colors_etf,
        text=yearly_return_etf.values * 100,
        texttemplate='%{text:.2f}',
        textposition='outside'

    ),
)

# make the figure prettier
layout = go.Layout(
    title="Yearly asset return comparison with ETF (%)",
    plot_bgcolor='#ecf8f8',
    font_family='Monospace',
    font_color='#073b4c',
    font_size=10,
    xaxis=dict(
        rangeslider=dict(visible=False)
    ),
    autosize=True,
)

fig.update_layout(layout)
fig.show()

In [84]:
temp1 = \
    df_drl.groupby(["ticker", df_drl.index.year, df_drl.index.month]).apply(lambda x: pd.Series({
        "count": x.asset.count(),
        "first": x.asset[0],
        "last": x.asset[-1],
    }
    ))
temp1.index.names = ["ticker", "year", "month"]

In [85]:
temp1

                    count         first          last
ticker  year month
ADS.DE  2019 1        6.0  9.909593e+05  1.009262e+06
             2       20.0  9.968993e+05  9.991289e+05
             3       21.0  9.991289e+05  9.796738e+05
             4       20.0  9.908481e+05  1.011586e+06
             5       22.0  1.011586e+06  9.979908e+05
...                   ...           ...           ...
VOW3.DE 2021 6       22.0  1.234427e+06  1.207523e+06
             7       22.0  1.214949e+06  1.249415e+06
             8       22.0  1.261998e+06  1.282846e+06
             9       22.0  1.282846e+06  1.196209e+06
             10      21.0  1.190753e+06  1.169791e+06

[934 rows x 3 columns]

In [104]:
monthly_trading_days = {2018: {11: 22, 12: 17}
    , 2019: {1:22,2:20,3:21,4:20,5:22,6:19,7:23,8:22,9:21,10:22,11:21,12:18}
    , 2020:{1:22,2:20,3:22,4:20,5:20,6:21,7:23,8:21,9:22,10:22,11:21,12:20}
    , 2021:{1:20,2:20,3:23,4:20,5:20,6:22,7:22,8:22,9:22,10:21
}}

In [112]:
temp1["days"]  = [monthly_trading_days[y][m] for y,m in zip(temp1.index.get_level_values(1), temp1.index.get_level_values(2))]

In [113]:
temp1

                    count         first          last  days
ticker  year month
ADS.DE  2019 1        6.0  9.909593e+05  1.009262e+06    22
             2       20.0  9.968993e+05  9.991289e+05    20
             3       21.0  9.991289e+05  9.796738e+05    21
             4       20.0  9.908481e+05  1.011586e+06    20
             5       22.0  1.011586e+06  9.979908e+05    22
...                   ...           ...           ...   ...
VOW3.DE 2021 6       22.0  1.234427e+06  1.207523e+06    22
             7       22.0  1.214949e+06  1.249415e+06    22
             8       22.0  1.261998e+06  1.282846e+06    22
             9       22.0  1.282846e+06  1.196209e+06    22
             10      21.0  1.190753e+06  1.169791e+06    21

[934 rows x 4 columns]

In [114]:
temp1["factor"] = temp1["days"].div(temp1["count"])
temp1["revised_return"] = (temp1["last"].div(temp1["first"])) ** temp1["factor"]
temp1["revised_first"] = temp1["last"].div(temp1["revised_return"])

In [116]:
temp1

                    count         first          last  days    factor  \
ticker  year month
ADS.DE  2019 1        6.0  9.909593e+05  1.009262e+06    22  3.666667
             2       20.0  9.968993e+05  9.991289e+05    20  1.000000
             3       21.0  9.991289e+05  9.796738e+05    21  1.000000
             4       20.0  9.908481e+05  1.011586e+06    20  1.000000
             5       22.0  1.011586e+06  9.979908e+05    22  1.000000
...                   ...           ...           ...   ...       ...
VOW3.DE 2021 6       22.0  1.234427e+06  1.207523e+06    22  1.000000
             7       22.0  1.214949e+06  1.249415e+06    22  1.000000
             8       22.0  1.261998e+06  1.282846e+06    22  1.000000
             9       22.0  1.282846e+06  1.196209e+06    22  1.000000
             10      21.0  1.190753e+06  1.169791e+06    21  1.000000

                    revised_return  revised_first
ticker  year month
ADS.DE  2019 1            1.069406   9.437595e+05
             2            1.002237   9.968993e+05
             3            0.980528   9.991289e+05
             4            1.020929   9.908481e+05
             5            0.986561   1.011586e+06
...                            ...            ...
VOW3.DE 2021 6            0.978206   1.234427e+06
             7            1.028369   1.214949e+06
             8            1.016520   1.261998e+06
             9            0.932466   1.282846e+06
             10           0.982396   1.190753e+06

[934 rows x 7 columns]

In [117]:
temp2 = temp1.groupby(level=["year","month"])['revised_first', 'last'].apply(np.sum)

/var/folders/_d/wg58dnq97vb6sg72nkscnm4c0000gn/T/ipykernel_85925/3189323654.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp2 = temp1.groupby(level=["year","month"])['revised_first', 'last'].apply(np.sum)

In [118]:
monthly_return = temp2["last"].div(temp2["revised_first"]) - 1

In [121]:
monthly_return_drl = np.resize([np.nan]*10 + list(monthly_return.values) + [np.nan]*2, (4, 12))

In [ ]:
df_sum = pd.DataFrame(df_drl.groupby(["date"]).asset.apply(np.sum))
monthly_return_drl = df_sum.groupby([df_sum.index.year, df_sum.index.month]).asset.apply(get_returns)
monthly_return_etf = df_etf.groupby([df_etf.index.year, df_etf.index.month]).Close.apply(get_returns)

In [ ]:
monthly_return_drl = np.resize([np.nan]*10 + list(monthly_return_drl.values) + [np.nan]*2, (4, 12))
monthly_return_etf = np.resize([np.nan]*10 + list(monthly_return_etf.values) + [np.nan]*2, (4, 12))

In [ ]:

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
years = [i for i in np.arange(2018, 2021+1, 1)]
monthly_returns = monthly_return_drl

annotations = go.Annotations()
for n, row in enumerate(monthly_returns):
    for m, val in enumerate(row):
        annotations.append(go.Annotation(text=str(round(monthly_returns[n][m]*100,2)), x=months[m], y=years[n],
                                         xref='x1', yref='y1', showarrow=False))
colorscale = [[0, '#ef476f'], [0.5, 'white'], [1, '#06d6a0']]

trace = go.Heatmap(x=months, y=years, z=monthly_returns, colorscale=colorscale, showscale=True)

fig = go.Figure(data=go.Data([trace]))
fig['layout'].update(
    title="Monthly returns in a heat map (%)",
    annotations=annotations,
    xaxis=go.XAxis(ticks='', side='top'),
    yaxis=go.YAxis(ticks='', ticksuffix='  '),  # ticksuffix is a workaround to add a bit of padding
#     width=1200,
#     height=700,
    autosize=True
)

fig.show()

In [ ]:
import plotly.graph_objects as go

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
years = [i for i in np.arange(2018, 2021+1, 1)]
monthly_returns = monthly_return_etf

annotations = go.Annotations()
for n, row in enumerate(monthly_returns):
    for m, val in enumerate(row):
        annotations.append(go.Annotation(text=str(round(monthly_returns[n][m]*100,2)), x=months[m], y=years[n],
                                         xref='x1', yref='y1', showarrow=False))
colorscale = [[0, '#ef476f'], [0.5, 'white'], [1, '#06d6a0']]

trace = go.Heatmap(x=months, y=years, z=monthly_returns, colorscale=colorscale, showscale=True)

fig = go.Figure(data=go.Data([trace]))
fig['layout'].update(
    title="Monthly returns in a heat map (%)",
    annotations=annotations,
    xaxis=go.XAxis(ticks='', side='top'),
    yaxis=go.YAxis(ticks='', ticksuffix='  '),  # ticksuffix is a workaround to add a bit of padding
#     width=1200,
#     height=700,
    autosize=True
)

fig.show()

In [ ]:
import plotly.graph_objects as go

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
years = [i for i in np.arange(2018, 2021+1, 1)]
monthly_returns = monthly_return_drl - monthly_return_etf

annotations = go.Annotations()
for n, row in enumerate(monthly_returns):
    for m, val in enumerate(row):
        annotations.append(go.Annotation(text=str(round(monthly_returns[n][m]*100,2)), x=months[m], y=years[n],
                                         xref='x1', yref='y1', showarrow=False))
colorscale = [[0, '#ef476f'], [0.5, 'white'], [1, '#06d6a0']]

trace = go.Heatmap(x=months, y=years, z=monthly_returns, colorscale=colorscale, showscale=True)

fig = go.Figure(data=go.Data([trace]))
fig['layout'].update(
    title="Monthly returns in a heat map (%)",
    annotations=annotations,
    xaxis=go.XAxis(ticks='', side='top'),
    yaxis=go.YAxis(ticks='', ticksuffix='  '),  # ticksuffix is a workaround to add a bit of padding
#     width=1200,
#     height=700,
    autosize=True
)

fig.show()

In [ ]:
import datetime
import dateutil.relativedelta

end_period = datetime.datetime.strptime('2021-10-31', "%Y-%m-%d")

In [ ]:
end_close_etf = df_etf[df_etf.index <= end_period].iloc[-1].Close

In [ ]:
periods = [1, 3, 6, 1*12, 3*12]
period_return_etf = []
for i in periods:
    period_return_etf.append(end_close_etf/df_etf[df_etf.index > end_period - dateutil.relativedelta.relativedelta(months=i)].iloc[0].Close-1)

In [ ]:
end_close_drl = df_sum[df_sum.index <= end_period].iloc[-1].asset

In [77]:
df_drl

,Unnamed: 0,ticker,signal,cash_balance,share_holding,asset,transaction_price,transaction_cost,trading_outlay,reward
date,,,,,,,,,,
2019-01-24,0,ADS.DE,1,1.749567e+02,5129,9.909593e+05,193.173008,0.000000,1.003990e+06,0.000000
2019-01-25,1,ADS.DE,1,1.749567e+02,5129,1.007648e+06,196.426857,0.000000,1.003990e+06,0.000000
2019-01-28,2,ADS.DE,0,1.749567e+02,5129,9.983221e+05,194.608524,0.000000,1.003990e+06,0.000000
2019-01-29,3,ADS.DE,1,1.749567e+02,5129,9.995493e+05,194.847787,0.000000,1.003990e+06,0.000000
2019-01-30,4,ADS.DE,-1,1.009262e+06,0,1.009262e+06,196.187601,606.816098,0.000000e+00,5096.705760
...,...,...,...,...,...,...,...,...,...,...
2021-10-25,696,VOW3.DE,-1,1.237850e+06,0,1.237850e+06,200.644997,744.131743,0.000000e+00,9582.791242
2021-10-26,697,VOW3.DE,1,1.262965e+02,6032,1.241814e+06,205.850006,743.188287,1.237724e+06,0.000000
2021-10-27,698,VOW3.DE,0,1.262965e+02,6032,1.227488e+06,203.475006,0.000000,1.237724e+06,0.000000
2021-10-28,699,VOW3.DE,1,1.262965e+02,6032,1.190180e+06,197.289993,0.000000,1.237724e+06,0.000000
2021-10-29,700,VOW3.DE,1,1.262965e+02,6032,1.169791e+06,193.910004,0.000000,1.237724e+06,0.000000

In [ ]:
periods = [1, 3, 6, 1*12, 3*12]
period_return_drl = []
for i in periods:
    period_return_drl.append(end_close_drl/df_sum[df_sum.index > end_period - dateutil.relativedelta.relativedelta(months=i)].iloc[0].asset-1)

In [ ]:
# define histogram colors
colors_drl = np.where(np.array(period_return_drl) > 0, '#06d6a0', '#ef476f')
colors_etf = np.where(np.array(period_return_etf) > 0, '#0a9396', '#e63946')

# add histogram on the lower subplot
fig = go.Figure()
fig.add_trace(
    go.Bar(
        x=['1M', '3M', '6M', '1Y', '3Y'],
        y=np.array(period_return_drl)*100,
        name="DRL",
        marker_color=colors_drl,
        text=np.array(period_return_drl)*100,
        texttemplate='%{text:.2f}',
        textposition='outside'

    ),
)
fig.add_trace(
    go.Bar(
        x=['1M', '3M', '6M', '1Y', '3Y'],
        y=np.array(period_return_etf)*100,
        name='ETF',
        marker_color=colors_etf,
        text=np.array(period_return_etf)*100,
        texttemplate='%{text:.2f}',
        textposition='outside'

    ),
)

# make the figure prettier
layout = go.Layout(
    title="Yearly asset return comparison with ETF (%)",
    plot_bgcolor='#ecf8f8',
    font_family='Monospace',
    font_color='#073b4c',
    font_size=10,
    xaxis=dict(
        rangeslider=dict(visible=False)
    ),
    autosize=True,
)

fig.update_layout(layout)
fig.show()